/* ResultsMainPage.module.css */
.resultSection{
  width: 100%;
  margin-top: 83px;
  background-color: #f9f9f9;
}
.resultsMainPage {
  margin-top: 85px;
  width: 92%;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.backButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.backButton:hover {
  background-color: #0056b3;
}

.studentDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.studentCard {
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background: #fff;
}

.studentImage {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.studentInfo h4 {
  font-size: 18px;
  color: #003366;
  margin: 10px 0;
}

.studentInfo p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
