/* DirectorsAndteachers.module.css */
.directorsSection {
  width: 100%;
}

.mainContHeading {
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:50px 4%;
  align-items: center;
  background: #181717;
  color: #fff;
}

.directorsHeading {
  font-size: calc(18px + 1vw);
}

.about {
  width: 100%;
  background-color: rgb(255, 242, 213);
  padding-left: 4%;
  padding-right: 4%;
}

.row {
  display: flex;
  margin-top: 1px;
  flex-wrap: wrap;
  gap: 2%;
  padding: 20px 0px;
  background-color: rgb(255, 242, 213);
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.rowEven {
  flex-direction: row;
}

.rowOdd {
  flex-direction: row-reverse;
}

.col1 {
  width: 40%;
}

.col1 img {
  width: 100%;
  border-radius: 10px;
  
}

.col2 {
  width: 58%;
  border-radius: 10px;
  background-color: rgb(255, 187, 39);;
  padding: 30px;
  transform: translateX(-50px);
  transition: transform 0.6s ease-out;
}

.rowEven .col2 {
  transform: translateX(-50px);
}

.rowOdd .col2 {
  transform: translateX(50px);
}

.visible .col2 {
  transform: translateX(0);
}

.title {
  font-size: calc(18px + 1vw);
  font-weight: 700;
  color: #0b1c39;
}

.subtitle {
  font-size: calc(18px + 0.3vw);
  color: rgb(255, 0, 0);
}

.col2 p {
  font-size: calc(15px + .3vw);
}

.buttonsContainer {
  margin-top: 20px;
}

.toggleButton {
  display: inline-block;
  margin: 0 10px;
  padding: 13px 30px;
  border: 1px solid #334;
  color: rgb(255, 255, 255);
  font-size: 16px;
  background-color: #000000;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: rgb(35, 35, 35);
  color: #fff;
}

.expandedContent {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .row {
    display: inline-block;
  }

  .col1 {
    width: 100%;
  }

  .col2 {
    width: 100%;
    margin-top: 10px;
  }
}
